.carousel-inner img {
    z-index: 1; 
    width: 100%;
    height: 500;
    object-fit: cover;
    opacity: 0.3;
}

h3, p{
    z-index: 1; 
    position: relative;
}

.center{
    text-align: justify;
}